<div id="banner-container" class="w-100">
    <img src="~/img/broomworks.jpg" alt="witches on brooms" />
</div>

@section Styles {
    <style>
        #banner-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        #banner-container img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    </style>
}